<div class="page">
    <div class="hero card card-pad">
        <div class="hero-grid">
            <!-- LINKS: Text -->
            <div class="hero-copy">
                <div class="pill">Verfügbar für IT-Stellen in der Softwareentwicklung</div>
                <br/>
                <br/>
                <h1>{{ profile.role }}</h1>
                <p>{{ profile.shortPitch }}</p>
                <div class="kpis">
                    <span class="pill">{{ profile.location }}</span>
                </div>

                <div class="actions">
                    <a class="btn primary" routerLink="/projects">Projekte</a>
                    <a class="btn" routerLink="/cv">CV</a>
                    <a class="btn" routerLink="/contact">Kontakt</a>
                </div>
            </div>

            <!-- RECHTS: Foto -->
            <div class="hero-media">
                <div class="avatar-frame">
                    <img class="avatar" [src]="profile.photoUrl" alt="Portrait von {{ profile.name }}"/>
                </div>
            </div>
        </div>
    </div>

    <app-section title="Wertbeitrag" subtitle="">
        <div class="grid cols-1">
            <div class="card card-pad item" *ngFor="let f of profile.focus">
                <h3>{{ f.title }}</h3>
                <div class="divider" aria-hidden="true"></div>


                <p style="margin-top: 15px;">
                    <strong>Typische Probleme und Herausforderungen, die ich löse: </strong>
                </p>

                <ul style="margin: 8px 0 0; padding-left: 25px; color: var(--muted); line-height: 1.6">
                    <li *ngFor="let b of f.bullets">
                        <ng-container *ngIf="b.includes(':'); else plain">
                            <strong>{{ b.split(':')[0] }}:</strong>
                            {{ b.split(':').slice(1).join(':').trim() }}
                        </ng-container>
                        <ng-template #plain>{{ b }}</ng-template>
                    </li>
                </ul>

                <p style="margin-top: 15px; white-space: pre-line; color: var(--muted); line-height: 1.6">
                    <strong>Lösung:</strong> {{ f.subtitle }}
                </p>


            </div>
        </div>
    </app-section>
</div>
